<%-include("header")-%>
<h2>Hello this is my about page</h2>
<p>jvdicjdsi ewifjcdlckjnc ekifjcedicjsoi edilfjdskcjmsa eidhsicnsiknc eficdnsvicc
     nbogfhnro jcivjdoivjcio sdijc ildxkjc  sdiojcd j dij mkclv mj sdljvd j idm jv
    ifsnc sdcioweeoifsdnc</p>
    <%-include("footer")-%>